.search_box_div{
    padding: 5px;
}
.chat_box{
    height: 5vh;
    padding: 5px;
    color:#fff;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.chat_box:hover{
    background-color: blueviolet;
    border: 0.5px solid #FFC7EA;
    border-radius: 5px;
}

.chat_header_image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1%;
}